<!DOCTYPE html>
<html lang="es">

<%- include('partials/head.ejs') %>

<body>
  <%- include('partials/navbar.ejs') %>

  <main>
    <div class="carrusel-contenedor">
      <h1>GameVerse</h1>
      <div class="carrusel-track">
        <div class="carrusel-item">
          <img src="images/tienda/mortal-kombat-1.png" alt="Imagen 1">
        </div>
        <div class="carrusel-item">
          <img src="/images/tienda/Fortnite.jpg" alt="Imagen 2">
        </div>
        <div class="carrusel-item">
          <img src="/images/tienda/fc-24.jpg" alt="Imagen 3">
        </div>
      </div>
      <div class="carousel-indicators">
        <span class="indicator" data-index="0"></span>
        <span class="indicator" data-index="1"></span>
        <span class="indicator" data-index="2"></span>
      </div>
      <button id="antBtn" class="carrusel-btn">&#8249;</button>
      <button id="sigBtn" class="carrusel-btn">&#8250;</button>
    </div> 
  </main>

  <%- include('partials/footer.ejs') %>
  
  <script src="js/index.js"></script>
</body>
</html>