<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>index</title>

  <!-- Styles -->
  <link rel="stylesheet" href="css/normalize.css" />
  <link rel="stylesheet" href="css/styles.css" />
  <link rel="stylesheet" href="css/index.css" />
  <link rel="stylesheet" href="css/navbar.css" />
  <link rel="stylesheet" href="css/footer.css" />
  <!-- Fonts -->
  <link href="https://fonts.googleapis.com/css2?family=Play&family=Rubik+Bubbles&display=swap" rel="stylesheet">
  <!-- Icons -->
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
</head>
<body>
  <header id="header-container">
    <nav class="header-navbar">
      <div class="burger-navbar">
        <img src="images/navbar/logo_gameverse.png" alt="Logo Gameverse" class="header-logo">

        <button class="burger-menu" onclick="toggleNavLinks()">
          <i class="fas fa-bars"></i>
        </button>
      </div>

      <ul class="nav-links menu-1">
        <li><a href="#">Inicio</a></li>
        <li><a href="#">Tienda</a></li>
        <li><a href="#">Acerca De</a></li>
        <li><a href="#">Contacto</a></li>
      </ul>

      <ul class="nav-links menu-2">
        <li class="link-language">
          <a><i class="fas fa-globe"></i></a>
          <ul class="drop-down">
            <li><a>ES</a></li>
            <li><a>EN</a></li>
          </ul>
        </li>
        <li>
          <a href="#"><i class="fas fa-shopping-cart"></i></a>
        </li>
        <li class="link-user">
          <a><i class="fas fa-user-circle"></i></a>
          <ul class="drop-down">
            <li><a href="#">Registrarse</a></li>
            <li><a href="#">Iniciar sesi&oacute;n</a></li>
          </ul>
        </li>
      </ul>
    </nav>
  </header>

  <main>
    <h2>CARRUSEL DEL GAMING</h2>
    <div class="carrusel-contenedor">
      <div class="carrusel-track">
        <div class="carrusel-item">
          <img src="images/tienda/mortal-kombat-1.png" alt="Imagen 1">
        </div>
        <div class="carrusel-item">
          <img src="/images/tienda/Fortnite.jpg" alt="Imagen 2">
        </div>
        <div class="carrusel-item">
          <img src="/images/tienda/fc-24.jpg" alt="Imagen 3">
        </div>
      </div>
      <div class="carousel-indicators">
        <span class="indicator" data-index="0"></span>
        <span class="indicator" data-index="1"></span>
        <span class="indicator" data-index="2"></span>
      </div>
      <button id="antBtn" class="carrusel-btn">&#8249;</button>
      <button id="sigBtn" class="carrusel-btn">&#8250;</button>
    </div> 
  </main>

  <footer id="footer-container">
    <div class="footer-space">
      <section class="footer-socialmedia">
        <div class="social-facebook">
          <a href="#"><i class="fab fa-facebook"></i></a>
        </div>
        <div class="social-twitter">
          <a href="#"><i class="fab fa-twitter"></i></a>
        </div>
        <div class="social-instagram">
          <a href="#"><i class="fab fa-instagram"></i></a>
        </div>
        <div class="social-youtube">
          <a href="#"><i class="fab fa-youtube"></i></a>
        </div>
        <div class="social-tiktok">
          <a href="#"><i class="fab fa-tiktok"></i></a>
        </div>
      </section>
  
      <section class="footer-terms">
        <p>
          Copyright © 2023-2023 Gameverse.
        </p>
      </section>
    </div>
  </footer>

  <script src="js/navbar.js"></script>
  <script src="js/index.js"></script>
</body>

</html>