<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Tienda</title>
    <!-- Styles -->
    <link rel="stylesheet" href="css/normalize.css" />
    <link rel="stylesheet" href="css/styles.css" />
    <link rel="stylesheet" href="css/tienda.css" />
    <!-- Fonts -->
    <link
      href="https://fonts.googleapis.com/css2?family=Play&family=Rubik+Bubbles&display=swap"
      rel="stylesheet"
    />
    <!-- Icons -->
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
      rel="stylesheet"
    />
  </head>
  <body>
    <header>
      <div class="barra_busqueda">
        <input type="text" placeholder="Buscar..." />
        <button><i class="fas fa-search"></i></button>
      </div>
    </header>

    <main>
      <h2 class="titulo_tendencia">TENDENCIAS</h2>
      <div class="juego_tendencia">
        <article class="caja">
          <div>
            <img src="./images/tienda/mortal-kombat-1.png" alt="mortal-kombat-1" />
            <p>Mortal Kombat 1</p>
            <p>Acción, combate</p>
            <p>$50.000</p>
          </div>
        </article>
        
        <article class="caja">
          <div>
            <img src="./images/tienda/Fortnite.jpg" alt="fortnite" />
            <p>Fortnite</p>
            <p>Acción, shooter</p>
            <p>$50</p>
          </div>
        </article>

        <article class="caja">
          <div>
            <img src="./images/tienda/fc-24.jpg" alt="fc-24" />
            <p>EAFC 24</p>
            <p>Deporte</p>
            <p>$40.000</p>
          </div>
        </article>        
      </div>

      <div class="caja_carrusel">
        <ul>
            <li>
                <img src="./images/tienda/spiderman-2.jpg" alt="spiderman-2">
                <div class="descripcion_carrusel">
                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Autem beatae praesentium adipisci quas quos quibusdam</p>
                </div>
            </li>
            <li>
                <img src="./images/tienda/god-of-war-ragnarok.jpg" alt="god-of-war-ragnarok">
                <div class="descripcion_carrusel">
                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Autem beatae praesentium adipisci quas quos quibusdam</p>
                </div>
            </li>
            <li>
                <img src="./images/tienda/gta-6.jpg" alt="gta-6">
                <div class="descripcion_carrusel">
                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Autem beatae praesentium adipisci quas quos quibusdam</p>
                </div>
            </li>
            <li>
                <img src="./images/tienda/ufc-5.jpg" alt="ufc-5">
                <div class="descripcion_carrusel">
                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Autem beatae praesentium adipisci quas quos quibusdam</p>
                </div>
            </li>
            <li>
                <img src="./images/tienda/back-4-blood.jpg" alt="back-4-blood">
                <div class="descripcion_carrusel">
                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Autem beatae praesentium adipisci quas quos quibusdam</p>
                </div>
            </li>
        </ul>
      </div>
    </main>
  </body>
</html>
