<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Tienda</title>
    <!-- Styles -->
    <link rel="stylesheet" href="css/normalize.css" />
    <link rel="stylesheet" href="css/styles.css" />
    <link rel="stylesheet" href="./tienda.css" />
    <!-- Fonts -->
    <link
      href="https://fonts.googleapis.com/css2?family=Play&family=Rubik+Bubbles&display=swap"
      rel="stylesheet"
    />
    <!-- Icons -->
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
      rel="stylesheet"
    />
  </head>
  <body>
    <header>
      <div class="barra_busqueda">
        <input type="text" placeholder="Buscar..." />
        <button><i class="fas fa-search"></i></button>
      </div>
    </header>

    <main>
      <h2>TENDENCIAS</h2>
      <div class="juego_tendencia">
        <article class="caja">
          <div>
            <img src="./img/mortal-kombat-1.png" alt="mortal-kombat-1" />
            <p>Mortal Kombat 1</p>
            <p>Acción, combate</p>
            <p>$50.000</p>
          </div>
        </article>
        <article class="caja">
          <div>
            <img src="./img/Fortnite.jpg" alt="fortnite" />
            <p>Fortnite</p>
            <p>Acción, shooter</p>
            <p>$50</p>
          </div>
        </article>
        <article class="caja">
          <div>
            <img src="./img/fc-24.jpg" alt="fc-24" />
            <p>EAFC 24</p>
            <p>Deporte</p>
            <p>$30.000</p>
          </div>
        </article>
      </div>
    </main>
  </body>
</html>
