<!DOCTYPE html>
<html lang="es">

<%- include('../partials/head.ejs') %>

<body>
  <%- include('../partials/navbar.ejs') %>

  <main>
    <div>
      <div class="contenedor-img">
        <ul>
          <li><img src="/images/producto/Gta0.jpg" alt=""></li>
          <li><img src="/images/producto/Gta1.jpg" alt=""></li>
          <li><img src="/images/producto/Gta2.jpg" alt=""></li>
          <li><img src="/images/producto/Gta3.jpg" alt=""></li>
          <li><img src="/images/producto/Gta4.jpg" alt=""></li>
          <li><img src="/images/producto/Gta5.jpg" alt=""></li>
        </ul>
      </div>
    </div>
    <div class="contenedor-info-product">
      <div class="contenedor-img-detalle">
        <img src="/images/producto/Gta-small.jpg">
      </div>
      <div class="contenedor-info-gral">
        <div class="titulo-descripcion">
          <h4>Sinopsis</h4>
          <p id="desplegar" onclick="sitexto('sinopsis')">+</p>
          <p id="ocultar" onclick="notexto('sinopsis')">-</p>

        </div>
        <div class="texto-gral" id="sinopsis">
          <p>
            Lorem ipsum dolor, sit amet consectetur adipisicing
            elit. Laboriosam iure provident atque voluptatibus
            reiciendis quae rerum, maxime placeat enim cupiditate
            voluptatum, temporibus quis iusto. Enim eum qui delectus
            deleniti similique? Lorem, ipsum dolor sit amet
            consectetur adipisicing elit. Sint autem magni earum est
            dolorem saepe perferendis repellat ipsam laudantium cum
            assumenda quidem quam, vero similique? Iusto officiis
            quod blanditiis iste?
          </p>
        </div>
      </div>
      <div class="contenedor-info-gral">
        <div class="titulo-descripcion">
          <h4>Fecha de Lanzamiento</h4>
          <p id="desplegar" onclick="sitexto('lanzamiento')">+</p>
          <p id="ocultar" onclick="notexto('lanzamiento')">-</p>
        </div>
        <div class="texto-gral" id="lanzamiento">
          <p>Lorem ipsum dolor, sit amet consectetur adipisicing
            elit. Laboriosam iure provident atque voluptatibus
            reiciendis quae rerum, maxime placeat enim cupiditate
            voluptatum, temporibus quis iusto. Enim eum qui delectus
            deleniti similique? Lorem, ipsum dolor sit amet
            consectetur adipisicing elit. Sint autem magni earum est
            dolorem saepe perferendis repellat ipsam laudantium cum
            assumenda quidem quam, vero similique? Iusto officiis
            quod blanditiis iste?</p>
        </div>
      </div>

      <div class="contenedor-info-gral">
        <div class="titulo-descripcion">
          <h4>Desarrollador</h4>
          <p id="desplegar" onclick="sitexto('desarrollador')">+</p>
          <p id="ocultar" onclick="notexto('desarrollador')">-</p>
        </div>
        <div class="texto-gral" id="desarrollador">
          <p>Lorem ipsum dolor, sit amet consectetur adipisicing
            elit. Laboriosam iure provident atque voluptatibus
            reiciendis quae rerum, maxime placeat enim cupiditate
            voluptatum, temporibus quis iusto. Enim eum qui delectus
            deleniti similique? Lorem, ipsum dolor sit amet
            consectetur adipisicing elit. Sint autem magni earum est
            dolorem saepe perferendis repellat ipsam laudantium cum
            assumenda quidem quam, vero similique? Iusto officiis
            quod blanditiis iste?</p>
        </div>
      </div>

      <div class="contenedor-info-gral">
        <div class="titulo-descripcion">
          <h4>Categorias</h4>
          <p id="desplegar" onclick="sitexto('categorias')">+</p>
          <p id="ocultar" onclick="notexto('categorias')">-</p>
        </div>
        <div class="texto-gral" id="categorias">
          <p>Lorem ipsum dolor, sit amet consectetur adipisicing
            elit. Laboriosam iure provident atque voluptatibus
            reiciendis quae rerum, maxime placeat enim cupiditate
            voluptatum, temporibus quis iusto. Enim eum qui delectus
            deleniti similique? Lorem, ipsum dolor sit amet
            consectetur adipisicing elit. Sint autem magni earum est
            dolorem saepe perferendis repellat ipsam laudantium cum
            assumenda quidem quam, vero similique? Iusto officiis
            quod blanditiis iste?</p>
        </div>
      </div>
    </div>

  </main>

  <div class="contenedor-nombre-producto">
    <div>
      <h2 class="texto-nombre-producto">Grand Theft Auto VI</h2>
    </div>

    <div>
      <a href="" class="btn-carrito">Agregar al Carrito &#8611;</a>
    </div>
  </div>

  <div class="contenedor-descripcion-ampliada">
    <div>
      <h4 class="texto-requisitos">Descripcion Ampliada</h4>
    </div>

    <p class="parrafo-descripcion">Lorem ipsum dolor, sit amet consectetur adipisicing
      elit. Laboriosam iure provident atque voluptatibus
      reiciendis quae rerum, maxime placeat enim cupiditate
      voluptatum, temporibus quis iusto. Enim eum qui delectus
      deleniti similique? Lorem, ipsum dolor sit amet
      consectetur adipisicing elit. Sint autem magni earum est
      dolorem saepe perferendis repellat ipsam laudantium cum
      assumenda quidem quam, vero similique? Iusto officiis
      quod blanditiis iste?
      Lorem ipsum dolor, sit amet consectetur adipisicing
      elit. Laboriosam iure provident atque voluptatibus
      reiciendis quae rerum, maxime placeat enim cupiditate
      voluptatum, temporibus quis iusto. Enim eum qui delectus
      deleniti similique? Lorem, ipsum dolor sit amet
      consectetur adipisicing elit. Sint autem magni earum est
      dolorem saepe perferendis repellat ipsam laudantium cum
      assumenda quidem quam, vero similique? Iusto officiis
      quod blanditiis iste?
      Lorem ipsum dolor, sit amet consectetur adipisicing
      elit. Laboriosam iure provident atque voluptatibus
      reiciendis quae rerum, maxime placeat enim cupiditate
      voluptatum, temporibus quis iusto. Enim eum qui delectus
      deleniti similique? Lorem, ipsum dolor sit amet
      consectetur adipisicing elit. Sint autem magni earum est
      dolorem saepe perferendis repellat ipsam laudantium cum
      assumenda quidem quam, vero similique? Iusto officiis
      quod blanditiis iste?
    </p>
  </div>

  <div class="contenedor-descripcion-ampliada">
    <div>
      <h4 class="texto-requisitos">Requisistos del Sistema</h4>
    </div>
    <img src="/images/producto/requisitos.jpg" alt="Requisitos del Sistema">
  </div>

  <%- include('../partials/footer.ejs') %>

  <script>
    function notexto(texto) {
      document.getElementById('ocultar').style.display = 'none';
      document.getElementById('desplegar').style.display = 'block';
      document.getElementById(texto).style.display = 'none';
    }

    function sitexto(texto) {
      document.getElementById('ocultar').style.display = 'block';
      document.getElementById('desplegar').style.display = 'none';
      document.getElementById(texto).style.display = 'block';
    }
  </script>
</body>

</html>