<!DOCTYPE html>
<html lang="es">

<%- include('../partials/head.ejs') %>

<body>
  <%- include('../partials/navbar.ejs') %>

  <header>
    <div class="barra_busqueda">
      <input type="text" placeholder="Buscar..." />
      <button><i class="fas fa-search"></i></button>
    </div>
  </header>

  <main>
    <h2 class="titulo_tendencia">TENDENCIAS</h2>
    <div class="juego_tendencia">
      <article class="caja">
        <div>
          <img src="./images/tienda/mortal-kombat-1.png" alt="mortal-kombat-1" />
          <p>Mortal Kombat 1</p>
          <p>Acción, combate</p>
          <p>$50.000</p>
        </div>
      </article>

      <article class="caja">
        <div>
          <img src="./images/tienda/Fortnite.jpg" alt="fortnite" />
          <p>Fortnite</p>
          <p>Acción, shooter</p>
          <p>$50</p>
        </div>
      </article>

      <article class="caja">
        <div>
          <img src="./images/tienda/fc-24.jpg" alt="fc-24" />
          <p>EAFC 24</p>
          <p>Deporte</p>
          <p>$40.000</p>
        </div>
      </article>
    </div>

    <div class="caja_carrusel">
      <ul>
        <li>
          <img src="./images/tienda/spiderman-2.jpg" alt="spiderman-2">
          <div class="descripcion_carrusel">
            <p>Los Spider-Men Peter Parker y Miles Morales regresan en una nueva y emocionante aventura de la aclamada franquicia Marvel's Spider-Man.</p>
          </div>
        </li>
        <li>
          <img src="./images/tienda/god-of-war-ragnarok.jpg" alt="god-of-war-ragnarok">
          <div class="descripcion_carrusel">
            <p>De la mano de Santa Monica Studio, llega la secuela del juego aclamado por la crítica: God of War (2018).</p>
          </div>
        </li>
        <li>
          <img src="./images/tienda/gta-6.jpg" alt="gta-6">
          <div class="descripcion_carrusel">
            <p>GTA 6 te lleva al ficticio estado estadounidense de Leonida, hogar de la metrópoli Vice City con sede en Miami.</p>
          </div>
        </li>
        <li>
          <img src="./images/tienda/ufc-5.jpg" alt="ufc-5">
          <div class="descripcion_carrusel">
            <p>¿Qué distingue a las artes marciales mixtas? Los riesgos, la técnica, el drama y la realidad pura del momento. UFC 5 captura todo eso con detalles más auténticos que nunca, desde gráficos de próxima generación que renuevan la animación del juego.</p>
          </div>
        </li>
        <li>
          <img src="./images/tienda/back-4-blood.jpg" alt="back-4-blood">
          <div class="descripcion_carrusel">
            <p>Estos huéspedes de un parásito, antes humanos, se convirtieron en criaturas terroríficas empeñadas en devorar lo que queda de la civilización.
            </p>
          </div>
        </li>
      </ul>
    </div>

    <div class="contenedor_general_cat">
      <div class="linea"></div>

      <div class="categorias">
        <div class="cat_boton">
          <h2>Shooter</h2>
          <button>Ver mas</button>
        </div>
        <ul class="contenedor_categoria">
          <li>
            <img src="./images/tienda/half-life.jpg" alt="half-life">
            <div class="categoria_descripcion">
              <h2>Half Life</h2>
              <p>$500</p>
            </div>
          </li>
        </ul>
        <ul class="contenedor_categoria">
          <li>
            <img src="./images/tienda/left-4-dead.jpg" alt="left-4-dead">
            <div class="categoria_descripcion">
              <h2>Left 4 Dead</h2>
              <p>$700</p>
            </div>
          </li>
        </ul>
        <ul class="contenedor_categoria">
          <li>
            <img src="./images/tienda/gta-v.jpg" alt="gta-v">
            <div class="categoria_descripcion">
              <h2>GTA V</h2>
              <p>$3.500</p>
            </div>
          </li>
        </ul>
        <ul class="contenedor_categoria">
          <li>
            <img src="./images/tienda/fortnite.jpg" alt="fortnite">
            <div class="categoria_descripcion">
              <h2>Fortnite</h2>
              <p>$50</p>
            </div>
          </li>
        </ul>
      </div>

      <div class="linea"></div>

      <div class="categorias">
        <div class="cat_boton">
          <h2>Terror</h2>
          <button>Ver mas</button>
        </div>
        <ul class="contenedor_categoria">
          <li>
            <img src="./images/tienda/dead-by-daylight.jpg" alt="dead-by-daylight">
            <div class="categoria_descripcion">
              <h2>Dead by daylight</h2>
              <p>$2900</p>
            </div>
          </li>
        </ul>
        <ul class="contenedor_categoria">
          <li>
            <img src="./images/tienda/resident-evil-4-remake.jpg" alt="resident-evil-4-remake">
            <div class="categoria_descripcion">
              <h2>Resident Evil 4: Remake</h2>
              <p>$2900</p>
            </div>
          </li>
        </ul>
        <ul class="contenedor_categoria">
          <li>
            <img src="./images/tienda/sons-of-the-forest.jpg" alt="sons-of-the-forest">
            <div class="categoria_descripcion">
              <h2>Sons of the Forest</h2>
              <p>$5500</p>
            </div>
          </li>
        </ul>
        <ul class="contenedor_categoria">
          <li>
            <img src="./images/tienda/back-4-blood.jpg" alt="back-4-blood">
            <div class="categoria_descripcion">
              <h2>Back 4 Blood</h2>
              <p>$2500</p>
            </div>
          </li>
        </ul>
      </div>

      <div class="linea"></div>

      <div class="categorias">
        <div class="cat_boton">
          <h2>Acción</h2>
          <button>Ver mas</button>
        </div>
        <ul class="contenedor_categoria">
          <li>
            <img src="./images/tienda/mortal-kombat-11.jpg" alt="mortal-kombat-11">
            <div class="categoria_descripcion">
              <h2>Mortal Kombat 11</h2>
              <p>$6000</p>
            </div>
          </li>
        </ul>
        <ul class="contenedor_categoria">
          <li>
            <img src="./images/tienda/wwe-2k23.jpg" alt="wwe-2k23">
            <div class="categoria_descripcion">
              <h2>WWE 2k23</h2>
              <p>$5200</p>
            </div>
          </li>
        </ul>
        <ul class="contenedor_categoria">
          <li>
            <img src="./images/tienda/tekken-7.jpg" alt="tekken-7">
            <div class="categoria_descripcion">
              <h2>Tekken 7</h2>
              <p>$3500</p>
            </div>
          </li>
        </ul>
        <ul class="contenedor_categoria">
          <li>
            <img src="./images/tienda/farcry-4.jpg" alt="farcry-4">
            <div class="categoria_descripcion">
              <h2>Farcry 4</h2>
              <p>$4900</p>
            </div>
          </li>
        </ul>
      </div>

      <div class="linea"></div>

    </div>

  </main>

  <%- include('../partials/footer.ejs') %>
</body>
</html>